header {
    background-color: #E0FF4F;
    color: #00272B;
    height: 25vh;
    text-align: center;
    font-family: 'Lobster', cursive;
}

h1 {
    font-size: 75px;
}

.employeeBox {
    border-radius: 10px;
    border: solid #00272B 2px;
    font-family: 'Noto Serif', serif;
}

.boxHeader {
    background-color: #E0FF4F;
    text-align: center;
    border-bottom: solid #00272B 2px;
}
